body[data-theme="white"] {
    --window-color: rgb(255, 255, 255, 0.8);
    --shadow: rgba(0, 0, 0, 0.2);
    --window-main: rgb(255, 255, 255);
    --close-button: rgb(216, 0, 58);
    --bcgalert: rgb(0, 0, 0, 0.6);
    --accent-color: #0078D4;
}

body[data-theme="dark"] {
    --window-color: rgba(0, 0, 0, 0.8);
    --shadow: rgba(0, 0, 0, 0.2);
    --window-main: rgb(20, 20, 20);
    --close-button: #d8003a;
    --bcgalert: rgb(0, 0, 0, 0.6);
    --accent-color: #0078D4;
}

@keyframes openwindows {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1.0;
    }
}

@keyframes closewindows {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.5;
    }
}

@keyframes opalertwin {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes clalertwin {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.5;
    }
}

.THEWINDOW {
    box-sizing: border-box;
    position: absolute;
    background: var(--window-color);
    min-width: 550px;
    min-height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    backdrop-filter: blur(20px);
    flex-direction: column;
    justify-content: space-between;
    z-index: 998;
    padding: 0;
    transition: all 0.2s;
}

.window-header {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 10px 0 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
    cursor: grab;

    & button {
        width: 60px;
        height: 100%;
        border-radius: 0 10px 0 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        box-shadow: none;
        transition: all 0.2s;

        & img {
            height: 50%;
            filter: var(--invert);
            display: block;
            transition: all 0.2s;
        }
    }
}

.window-header button:hover {
    background: var(--close-button);

    & img {
        filter: invert(3);
    }
}

.window-main {
    background: 0;
    flex: 1;
    border-radius: 0 0 10px 10px;
    display: flex; 

    & iframe {
        flex: 1;
        margin-left: 0;
        border-radius: 0 0 10px 10px;
        min-width: 0;
    }
}

.ALERTWINDOWBCG {
    position: fixed;
    background: var(--bcgalert);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ALERTWINDOW {
    width: 450px;
    height: 350px;
    background: var(--window-main);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    border: 1px solid rgb(26, 26, 26, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alertmore {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: var(--other-white);
    display: flex;
    gap: 10px;

    & h3 {
        margin-top: 5px;
    }

    & button {
        padding: 5px 10px;
        background: var(--window-main);
        border: 0;
        border-radius: 5px;
    }
}
.mainalert {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}
