@keyframes winlogon {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
}

@keyframes winlogonexp {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}

@keyframes winbcg {
  0% {
    background: rgba(0,0,0,0.0);
  }
  100% {
    background: rgba(0,0,0,0.5);
  }
}

@keyframes textwelcome {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    font-size: 15px;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    font-size: 20px;
  }
}

@keyframes shrink-bg {
    from { background-size: 150%; }
    to { background-size: 100%; }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.shrink-bg {
    animation: shrink-bg 1s ease forwards !important;
}


.bgc-exp {
    position: fixed;
    width: 100%;
    height: 100vh;
    animation: winbcg 1s ease forwards;
}

.logon {
    width: 100%;
    height: 100vh;
    background: url('../imageres.dll/winbcg.png') center/cover no-repeat;
    animation: winlogon 1s ease forwards;
    color: var(--white);
}

.user-experience {
    width: 100%;
    height: 100%;
    animation: winlogonexp 1s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    & button {
        font-size: 17px;
        height: 35px;
        width: 130px;
        border: 0;
        display: flex; justify-content: center; align-items: center;
        color: var(--white);
        border-radius: var(--minbord);
        background: var(--whitefifty);
        transition: all 0.2s;
    }
}
.user-experience button:hover {
    scale: 1.1;
    background: rgba(255, 255, 255, 0.3);
}

.user {
    min-width: 200px;
    min-height: 200px;
    background: var(--whiteblur);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        min-width: 50%;
        filter: invert(1);
    }
}

.welcometext {
  font-weight: 400;
  margin-top: -50px;
  font-size: 20px;
  animation: textwelcome 0.5s ease forwards;
}